
<p>This problem was recently asked by Google.<p>

  <p>Given a list of numbers and a number k, return whether any two numbers from the list add up to k.</p>

  <p>For example, given [10, 15, 3, 7] and k of 17, return true since 10 + 7 is 17.</p>

  <p>Bonus: Can you do this in one pass?</p>

  <div *ngFor="let item of text; index as i;">
    <div>
      Numbers => {{ item.numbers | json }}
    </div>
    <div>
      Sum = {{ item.value }}
    </div>
    <div>
      Is matched: {{ item.isMatched }}
    </div>
  </div>

  <router-outlet></router-outlet>
